<p>
  <strong>Name:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Email:</strong>
  <%= comment.email %>
</p>

<p>
  <strong><%= comment.commenter + "'s " %>Rating:</strong>
  <%= comment.rating %>
</p>

<p>
  <strong><%= comment.commenter + "'s " %>Comment:</strong>
  <%= comment.body %>
</p>


<p>
  <strong>Movie Id</strong>
  <%= comment.movieID %>
</p>

<p>
  <strong>Movie name</strong>
  <%= comment.movie_name %>
</p>
