<div class="container">
<div>
  <h2>Add a Review:</h2>
<%= form_with(model: [@article, @article.comments.build], local: true) do |form| %>
<div class="form-group">
<%= form.hidden_field :movieID, :value => @article.id %>
<%= form.hidden_field :movie_name, :value => @article.title %>
</div>
<div class="form-group">
  <%= form.label "Your rating" %><br>
  <%= form.number_field :rating, min: 1.0, max: 4.0, :step => 1, class: "rating", placeholder: "1 – 4" %>
</div>

<div class="form-group">
  <%= form.label "Your Name"%><br>
  <%= form.text_field :commenter %>
</div>

<div class="form-group">
  <%= form.label "Your Email"%><br>
  <%= form.email_field :email %>
</div>

<div class="form-group">
  <%= form.label :body %><br>
  <%= form.text_area :body %>
</div>

<p>
  <%= form.submit %>
</p>
</div>
<% end %>
</div>
</div>
