<%= form_with(model: [@article, @article.comments.build], local: true) do |form| %>

<%= form.hidden_field :movieID, :value => @article.id %>
<%= form.hidden_field :movie_name, :value => @article.title %>

<p>
  <%= form.label "Your rating" %><br>
  <%= form.number_field :rating, min: 1.0, max: 4.0, :step => 1, class: "rating", placeholder: "1 – 4" %>
</p>

<p>
  <%= form.label "Your Name"%><br>
  <%= form.text_field :commenter %>
</p>

<p>
  <%= form.label "Your Email"%><br>
  <%= form.email_field :email %>
</p>

<p>
  <%= form.label :body %><br>
  <%= form.text_area :body %>
</p>

<p>
  <%= form.submit %>
</p>

<% end %>
