<h1>MovieSpy</h1>
<div>
<%= link_to "Sort By Date", sort_by_date_articles_path %>
<%= link_to "Sort By Title", sort_by_title_articles_path%>
<%= link_to "Sort By Genre", sort_by_genre_articles_path%>
<% @articles.each do |article| %>

  <div>
    <p><img src="<%= article.image %>" /></p>
    <p><%= article.title %></p>
    <p><%= article.text %></p>
    <p><%= article.release_date %></p>
    <p><%= article.genre %></p>
    <p>
    <% article.comments.each do |comment| %>
    <div>
    <% comment.rating.times do  %>
      <span class="glyphicon glyphicon-star"></span>
    <% end %>
    <% (4-comment.rating).times do  %>
      <span class="glyphicon glyphicon-star-empty"></span>
    <% end %>
    </div>
    <% end %>
    </p>
    <p><%= link_to 'View More', article_path(article) %></p>
  </div>
  <% end %>
</div>


<h2>Recent Reviews </h2>

<% @recent_comments.each do |comment| %>
<div>
<%= comment.commenter %> - "<%= comment.body %>"

<% comment.rating.times do  %>
  <span class="glyphicon glyphicon-star"></span>
<% end %>
<% (4-comment.rating).times do  %>
  <span class="glyphicon glyphicon-star-empty"></span>
<% end %>

<p><%= link_to 'Read More about ' + comment.movie_name, article_path(comment.movieID) %></p>

</div>

<% end %>
