<p>
  <strong>Title: </strong>
  <%= @article.title %>
</p>

<p>
  <strong>Movie Description: </strong>
  <%= @article.text %>
</p>

<p>
  <strong>Release Date: </strong>
  <%= @article.release_date %>
</p>

<p>
  <strong>Genre: </strong>
  <%= @article.genre %>
</p>

<h2>Reviews</h2>
<%= render @article.comments %>

<h2>Add a Review:</h2>
<%= render 'comments/form' %>
<%= link_to 'Back to all Movies', articles_path %>
