<div class="container">
<div class="row">
  <div class="page-header">
    <h1><%= @article.title %></h1>
  </div>
  <div class="panel panel-default">

    <div class="panel-body">
      <div>
          <img class="col-xs-6 col-md-3" src="<%= @article.image %>" />
          <div class="caption">
            <p>
              <strong>Movie Description: </strong>
              <%= @article.text %>
            </p>
            <p>
              <strong>Release Date: </strong>
              <%= @article.release_date %>
            </p>
            <p>
              <strong>Genre: </strong>
              <%= @article.genre %>
            </p>
            <p>
              <h2>Reviews for <%= @article.title %></h2>
              <%= render @article.comments %>
            </p>
              <%= render 'comments/form' %>

        </div>
      </div>
    </div>


  </div>
</div>
</div>

<nav aria-label="...">
  <ul class="pager">
    <li><%= link_to 'Back to all Movies', articles_path %></li>
  </ul>
</nav>
